/*Personalização dos Cabeçalhos
*/
.divHeader{
    display: flex;
    background-color:#0C67D6 ;
    font-family: Comic Sans MS;
    font-size: small;
    justify-content: space-between;
}

.ulHeader{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 3em;
    list-style-type: none;
    overflow: hidden;
    background-color: #0C67D6;
    align-items: center;
}

.lnkHeader{
    margin-inline: 1em;
    list-style-type: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

.lnkHeader:hover, .liHeader:hover .lnkBtn{
    background-color: #8FAADC;
}

.liHeader{
    display: inline-block;
}
  
.liHeader:hover .dropDownContent{
    display: block;
}

.dropDownContent{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 10em;
}

.dropDownContent .lnkHeader {
    color: #0C67D6;
    padding: 1em 1em;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.dropDownContent .lnkHeader:hover{
    background-color: #8FAADC;
}

.lnkBtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    margin-inline: 1em;
}

#hdLeft{
    justify-content: flex-start;
} 

#hdRight{
    justify-content: flex-end;
}

.divForm{
    width: 20em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.inptAcesso{
    margin: 1em;
    width: 100%;
    height: 2em;
    text-align: center;
    color: #8FAADC;
    border-color: #F1BE2F;
}

.lnkRecAcesso{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: smaller;
    color: #0C67D6;
    justify-content: flex-end;
}

#lnkNovoAcesso{
    display: flex;
    margin: 1em;
    padding: 0;
    width: 100%;
    height: 3em;
    justify-content: center;
    color: white;
    background-color: #F1BE2F;
    font-weight: bold;
    align-items: center;
}

#lnkBtnAcessar{
    display: flex;
    margin: 1em;
    padding: 0;
    width: 100%;
    height: 3em;
    justify-content: center;
    color: white;
    background-color:#0C67D6;
    font-weight: bold;
    align-items: center;
}

/*Personalização do logo e barra de pesquisa
*/
.divLogo{
    margin-top: -4em;
    padding-top: 3em;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#imgLogo{
    width:25em;
}

/*Personalização do Título da Página
*/
.divTituloPagina{
    padding: 0;
    margin:2em;
    display: flex;
    justify-content: center;
    font-family: Comic Sans MS;
    font-size: large;
    font-weight: bold;
    font-optical-sizing: auto;
    color:#D55247;
}

/*Personalização do Corpo da Página
*/

.bodyTuristica{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 6em;
}

.divMain{
    font-family: Comic Sans MS;
    font-size: small;
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.divMain2{
    font-family: Comic Sans MS;
    font-size: x-large;
    padding-top: 0;
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.divContato{
    padding: 0;
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

#imgLapisContato{
    width: 3em;
}

.navLnkOthers{
    font-family: Comic Sans MS;
    font-size: small;

    display: flex;
    flex-direction: row;
}

.divLnkOthers{
    margin-inline: 1em;
    width: 15rem;
    height: 10rem;
    text-align: center;
}

.lnkOthers{
    list-style-type: none;
    color: #51006A;;
    text-decoration-line: none;
    font-size: small;
}

.imgPgInicial{
    width: 100%;
    height: 100%;
    margin-top: 2em;
}

.divPrincipal{
    margin: 0;
    padding: 0;
    margin-top: 3em;
    margin-inline: 15em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divTexto{
    margin: 0;
    padding: 0;
    text-align: center;
}

.divTxtSB{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: -10;
}

.parDivTexto{
    margin: 0;
    padding:1em;
    width: 60%;
}

.divParagrafos{
    width: 50%;
    height: 100%;
    position: absolute;
}

#divParagrafos{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: center;
    padding-top: 15em;
    padding-inline-end: 4em;
}

.divBalao{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 50%;
}

#imgBalao{
    opacity: 0.2;
    width: 70%;
    height: 70%;
}

.divImage{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-content: flex-start;
    margin-top: -7em;
}

#imgFtSobreNos{
    width: 70%;
}

.parDivTextoSB{
    margin: 0;
    padding:0;
    font-size: large;
    font-weight: bold;
    color:#51006A;
    font-optical-sizing: auto;
}

.lblTexto{
    font-family: Comic Sans MS;
    font-size: medium;
    color: #8FAADC 
}

#lblAtiva{
    font-family: Luckiest Guy;
    font-size: large;
    color: #51006A;
}

#lblJuntos{
    font-family: Carrotflower;
    font-size: large;
    color: #D55247;
    font-weight: bold;
}

#border{
    border-color: solid blue 1px;
}

.divFormCadastro{
    padding: 0;
    margin: 0;
    font-family: Comic Sans MS;
    font-size: large;
    color:#0C67D6;
    text-align: center;
}

.frmAcesso{
    margin-top:1em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txtAreaAssunto{
    width: 100%;
    height: 10em;
    font-family: Comic Sans MS;
    font-size: small;
    text-align: center;
    resize: none;
    scroll-behavior: auto;
}

.divSelect{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.inptCadastro{
    margin: 1em;
    width: 100%;
    height: 2em;
    text-align: center;
    color: #0C67D6;
    border-color: #F1BE2F;
    border-style: solid;
}

.divSelectFaixa{
    width: 30em;
    font-family: Comic Sans MS;
    color: #D55247;
    font-size: small;
    font-weight: bold;
    align-items: center;
}

.slctOpcao{
    width: 100%;
    height: 2em;
    font-family: Comic Sans MS;
    font-size: small;
    color: #0C67D6;
    text-align: center;
}

#lnkBtnSalvar{
    display: flex;
    margin: 1em;
    padding: 0;
    width: 50%;
    height: 2em;
    justify-content: center;
    color: #0C67D6;
    background-color:#F1BE2F;
    font-weight: bold;
    align-items: center;
}

.divMapa{
    display: flex;
    padding: 0;
    flex-direction:column;
    align-content: flex-start;
    width: max-content;
}

#imgMapa{
    padding: 0;
    margin: 0;
    width:40em;
}

.divInfoTuristica{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divTextoTuristica{
    display: flex;
    flex-direction: column;
    width: 25em;
    text-align: center;
    align-items: center;
}

.tbLocais{
    font-family: Comic Sans MS;
    font-size: small;
    color:#D55247;
    width: 100%;
    margin-top: 5em;
}

.trLinha{
    height: 3em;

}

#trLinha:hover {
    background-color: #8FAADC
}

.tdColuna{
    border-bottom: #8FAADC solid;
    border-bottom-width: 1px;
}

.local{
    text-decoration: none;
    color:#D55247
}

#tdColLocal{
    text-align: left;
    width: 30em;
}
  
#tdColEstado{
    text-align: right;
    width: 5em;
}

/* Personalização do Rodapé da página
*/
.divFooter{
    padding: 0;
    margin-top: 5em;
    background-color:#0C67D6 ;
    font-family: Comic Sans MS;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.divCateg{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 2em;
}

.aCateg{
    font-family: Comic Sans MS;
    font-size: small;
    color:white;
    text-align: left;
}

#aCatTit{
    padding-bottom: 1em;
}

.lnkFooter{
    padding-left: 2em;
    line-height: 2em;
    width: max-content;
    font-size: smaller;
    color: white;
    text-align: left;
    text-decoration-line: none;
}

.lnkFooter:hover, .liFooter:hover .lnkBtn{
    background-color: #8FAADC;
}