*{
      
}

.header {
    
  }
  
.textosobreNos{
    color: #51006A;
    text-align: center;
    font-family: Comic Sans MS;
    font-size:x-large;
    font-weight: bold;
    width: 40em;
}

#balao{ opacity: 0.3;
}

  